<html>
    <body>
        <div class="container">
            <div class="inner-container">
             <div class="navigate">
                <a>Home ></a>
                <a>Buy cars ></a>
                <a>Hyundai i20</a>
             </div>
             <div class="car-details">
                <div class="brand-name">Hyundai i20</div>
                <div class="variant">Magna 1.2 MT</div>
             </div>
             <div class="overview-container">
                <div class="car-image">
                    <div [style.background-image]="'url(' + getActiveImageUrl() + ')'" class="overview-carimage">
                      <img style="cursor: pointer;" src="../../assets/leftarrow.svg" (click)="showPrevImage()">
                      <img style="cursor: pointer;" src="../../assets/rightarrow.svg" (click)="showNextImage()">
                    </div>
                    <div class="overview-list">
                      <div class="smallcard" *ngFor="let smallImageUrl of imageUrls; let i = index" [class.active]="activeIndex === i" (click)="setActiveImage(i)">
                        <img [src]="smallImageUrl" id="small-img" alt="Image">
                      </div>
                    </div>
                  </div>
                <div class="rateandaddress">
                    <div class="rate">
                         <div class="amount">₹450000</div>
                         <div class="two-button">
                            <div class="contactseller-button">
                                <img src="../../assets/phone-icon1.svg">
                                <span style="width:100%;">Contact seller</span>
                            </div>
                            <div class="testdrive-button">
                               <img src="../../assets/test-drive.svg">
                               <span style="width:100%;">Schedule test drive</span>
                            </div>
                         </div>
                         <div class="homedelivery">
                            <img src="../../assets/homedelivery.svg">
                            <span>Home delivery available</span>
                         </div>
                         <div class="storelocation">
                            <img src="../../assets/storelocation.svg">
                            <span>Available at Store</span>
                         </div>
                         <div class="door-address">433, USTAD AMIR KHAN SARANI, Kolkata, Kolkata, West Bengal</div>
                         <button>View all cars at this store</button>
                    </div>
                    <div class="title">Specification</div>
                    <div class="specification">
                        <table class="my-table">
                            <tr>
                              <th>Mileage</th>
                              <th>Cylinders</th>
                              <th>Max power</th>
                            </tr>
                            <tr>
                              <td>12 Kmpl</td>
                              <td>6</td>
                              <td>bhp</td>
                            </tr>
                            <tr>
                                <th>Torque</th>
                                <th>Seats</th>
                                <th>Color</th>
                              </tr>
                            <tr>
                              <td>Nm</td>
                              <td>4</td>
                              <td>Red</td>
                            </tr>
                          </table>
                    </div>
                    <div class="sharing">
                        <img style="cursor: pointer;" src="../../assets/share.svg">&nbsp;&nbsp;
                        <span style="cursor: pointer;">Share</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img style="cursor: pointer;" src="../../assets/flag.svg">&nbsp;&nbsp;
                        <span style="cursor: pointer;">Report a problem</span>
                    </div>
                   
                </div>
             </div>
            </div>
          <div class="mid-container">
            <div class="car-details-1">
                <div class="title-1">Car Details</div>
                <div class="detail-table">
                    <table class="my-table">
                        <tr>
                          <th>City</th>
                          <th>Km Driven</th>
                          <th>Owner’s</th>
                        </tr>
                        <tr>
                          <td>Kolkata</td>
                          <td>92000</td>
                          <td>Fourth owner</td>
                        </tr>
                        <tr>
                            <th>Registration year</th>
                            <th>Fuel type</th>
                            <th>Engine</th>
                          </tr>
                        <tr>
                          <td>2008</td>
                          <td>Petrol</td>
                          <td>1</td>
                        </tr>
                        <tr>
                            <th>Transmission</th>
                            <th>No objection certificate</th>
                            <th>Manufacturing year</th>
                          </tr>
                        <tr>
                          <td>Manual</td>
                          <td>No</td>
                          <td>2008</td>
                        </tr>
                      </table>
                     
                </div>
          </div>
          <!-- mobile screen table -->
          <table class="my-table2">
            <div style="display: flex;align-items: center;gap:15px;width: 100%;">
               <div id="box1">City</div>  
               <div id="box2">Kolkata</div>
            </div>
                <div style="display: flex;align-items: center;gap:15px;width: 100%;">
                   <div  id="box1">Km Driven</div>  
                   <div id="box2">92000</div>
                </div>
                    <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                       <div  id="box1">Owner’s</div>  
                       <div id="box2">Fourth owner</div>
                    </div>
                        <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                           <div  id="box1">Registration year</div>  
                           <div id="box2">2008</div>
                        </div>
                            <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                               <div  id="box1">Fuel type</div>  
                               <div id="box2">Petrol</div>
                                </div>
                                <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                                   <div  id="box1">Engine</div>  
                                   <div id="box2">1</div>
                                    </div>
                                    <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                                       <div  id="box1">Transmission</div>  
                                       <div id="box2">Manual</div>
                                        </div>
                                        <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                                           <div  id="box1">No objection certificate</div>  
                                           <div id="box2">No</div>
                                            </div>
                                            <div style="display: flex;align-items: center;width: 100%;gap:15px;">
                                               <div  id="box1">Manufacturing year</div>  
                                               <td  id="box2">2008</td>
                                                </div>
        </table>


        <div class="description">
            <div class="description-title">Car Description</div>
            <div class="description-detail">
                 <div class="car-description">
                    🔥 MODEL: 2019 MARUTI SUZUKI ALTO K10 VXI 🔥FUEL: PETROL 🔥 YEAR: SEP "2019" 🔥 CF: VALID UP TO SEP "34" 🔥 TAX: VALID TILL AUG "24" 🔥 KM COVERED: 39,600 KM 🔥OWNERSHIP: 1ST
                 </div>
            </div>
    </div>
    <div class="feature">
        <div class="feature-title">Features</div>
        <div class="feature-detail">
            <div class="feature-subdetail">
                <div class="feature-subtitle">Comfort</div>
                <div class="main-feature">Rear Parking Sensors, Key-less Entry and Go.</div>
            </div>
            <div class="feature-subdetail">
                <div class="feature-subtitle">Safety</div>
                <div class="main-feature">Airbags, Central Locking, Traction Control, ABS - Anti-lock Braking System, EBD - Electronic Brakeforce Distribution</div>
            </div>
            <div class="feature-subdetail">
                <div class="feature-subtitle">Interior</div>
                <div class="main-feature">Speedometer or Fuel Gauge, Air Ventilation, Steering wheel</div>
            </div>
            <div class="feature-subdetail">
                <div class="feature-subtitle">Exterior</div>
                <div class="main-feature">Front bumper</div>
            </div>
            <div class="feature-subdetail">
                <div class="feature-subtitle">Entertainment</div>
                <div class="main-feature">Automotive Navigation Systems, USB Connectivity, Video Players, Bluetooth Connectivity</div>
            </div>
        </div>
    </div>
</div>
</div>
        
    
    </body>
</html>
